/* variables */

:root {

    --primary: #3aafa9;
    --primary_font: #feffff;
    --secondary: #2b7a78;
    --secondary_font: #3aafa9;

    --buttonx: #3aafa9;
    --buttonx_font: #feffff;
    --buttony: #17252a;
    --buttony_font: #feffff;

    --success: #14a098;
    --success_font: #feffff;
    --fail: #cb2d6f;
    --fail_font: #feffff;

    --background: #17252a;
    --foreground: #feffff;
    --glow: #3aafa9;
    --shadow: #17252a;
    --overlay: #17252a;

}

@font-face {
    font-family: teko;
    src: url(Teko.ttf);
    font-weight: bold;
}

/*

metalicblue
7091e6
3d52a0
adbbda
8697c4
ede8f5

blackblue
0b0c10
66fcf1
1f2833
c5c6c7
45a29e

green
3aafa9
feffff
2b7a78
3aafa9
17252a

royal
2d283e
802bb1
564f6f
d1d7e0
4c495d

red cb2d6f
green 14a098

*/

/* selectors */

* {
    font-family: teko;
}

body {
    background-color: white;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 80px;
    background-color: var(--background);
    background-image: url('../../img/common/mountains_2.png');
    background-repeat: repeat;
    background-size: 600px 600px;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 4px 4px;
}

h2 {
    color: var(--primary_font);
}

h3 {
    color: var(--primary_font);
}

p {
    color: var(--primary_font);
}

a {
    color: var(--primary_font);
}

button {
    color: var(--primary_font);
}

label {
    color: var(--primary_font);
}

input {
    color: var(--primary_font);
    border: none;
    border-bottom: 3px solid var(--primary_font);
    width: 100%;
    background-color: var(--primary);
    margin-bottom: 10px;
}

input[type="file"]::file-selector-button {
    border: 2px solid var(--primary_font);
    background-color: var(--primary);
    color: var(--primary_font);
    border: none;
    border-right: 3px solid var(--primary_font);
}

img {
    color: var(--primary_font);
}

ul {
    color: var(--primary_font);
}

ol {
    color: var(--primary_font);
}

i {
    color: var(--primary_font);
    vertical-align: middle;
    margin-inline: 10px;
}

select {
    border: 2px solid var(--primary_font);
    background-color: var(--primary);
    color: var(--primary_font);
    border: none;
}

/* element id */

#spinner {
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
}

#overlay {
    background-color: var(--background);
    position: absolute;
    height: 100%;
    width: 100%;
}

#navbar {
    color: var(--primary);
    background-color: var(--background);
    align-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0%;
    left: 0%;
}

#footer {
    color: var(--primary);
    background-color: var(--background);
    align-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 90%;
    left: 0%;
}

/* element class */

.success-btn {
    color: var(--success_font);
    background-color: var(--success);
    border: 2px solid var(--success_font);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.fail-btn {
    color: var(--fail_font);
    background-color: var(--fail);
    border: 2px solid var(--fail_font);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.nav-item {
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.nav-selected {
    border-top: 10px solid var(--background);
    border-bottom: 10px solid var(--primary);
}

.card {
    border-radius: 10px;
    background-color: var(--primary);
}

.fail {
    color: var(--fail);
}

.success {
    color: var(--success);
}

.row {
    margin-bottom: 10px;
}

.success-glow {
    border-bottom: 5px solid var(--success);
    transition: ease-in 0.5s;
}

.fail-glow {
    color: var(--fail);
    border-bottom: 5px solid var(--fail);
    transition: ease-in 0.5s;
}

/* effects */

.success-btn:focus,
.success-btn:hover {
    color: var(--success);
    background-color: var(--success_font);
    box-shadow: 0 0 15px var(--success_font);
    transition: ease-in 0.5s;
    cursor: pointer;
}

.success-btn:disabled,
.success-btn[disabled] {
    background-color: #818181;
    color: #8b8b8b;
}

.fail-btn:focus,
.fail-btn:hover {
    color: var(--fail);
    background-color: var(--fail_font);
    box-shadow: 0 0 15px var(--fail_font);
    transition: ease-in 0.5s;
    cursor: pointer;
}

.nav-item:focus,
.nav-item:hover {
    color: var(--primary_font);
    text-shadow: 1px 1px 10px var(--primary_font), 1px 1px 10px var(--primary_font);
    transition: ease-in 0.5s;
    cursor: pointer;
}

input:focus {
    outline: none;
}